Options +FollowSymLinks
RewriteEngine On

#optionally allow only https requests
RewriteCond %{HTTPS} off
RewriteRule ^ - [R=403,L]

# Allow normal access to certain files and dirs
RewriteRule ^index.php - [L,NC]
RewriteRule ^index.html$ - [L]
RewriteRule ^(config)/ - [L]
RewriteRule ^(ui)/ - [L]

# Rewrite Credit Commons paths to index.php.
RewriteRule ^about$ index.php [L]
RewriteRule ^absolutepath index.php [L]
RewriteRule ^entries index.php [L]
RewriteRule ^transaction index.php [L]
RewriteRule ^workflows index.php [L]
RewriteRule ^account index.php [L]
RewriteRule ^handshake$ index.php [L]

# Return a 404 for any other requests
RewriteRule ^.*$ - [R=404,L]